<!-- 主页 -->
<section id="articleList" style="transform: translate3d(0, 120px, 0);opacity: 0;">
    <ul>
        <% page.posts.forEach(function(post,item){ %>
        <li class="article-li">
            <a class="jump" href="<%- config.root %><%- post.path %>">
                <div class="img-wrapper">
                    <div class="mark"></div>
                    <% if(page.current === 1 && item === 0) { %>
                    <div class="wrap">
                        <span class="silk-ribbon6">最新文章</span>
                    </div>
                    <% } %>
                    <% if(post.image && post.image.length > 0) { %>
                    <img src='<%- post.image %>' alt="image">
                     <% } else if(post.categories.data[0] && post.categories.data[0].name != "undefined") { %> 
                         <% if(post.categories.data[0].name === "Vue") { %>
                           <img src="<%- theme.image.vue %>" alt="vue">
          
                        <% } else if(post.categories.data[0].name === "Webpack") { %>
                           <img src="<%- theme.image.webpack %>" alt="webpack">
                        <% }%> 
                    <% }else {%>
                    <%- console.log(post.categories.data[0] && post.categories.data[0].name )%>
                    <img src="<%- theme.image.default %>" alt="default">
                    <% }%>
                </div>
                <div class="article-content">
                    <p class="article-title">
                        <a href="<%- config.root %><%- post.path %>">
                            <%- post.slug.split("/")[post.slug.split("/").length-1] %></a>
                    </p>
                    <a class="article-read" href="<%- config.root %><%- post.path %>">
                        阅读全文
                        <div class="article-digest">
                            <%- post.more.replace(/<\/?.+?\/?>/g, "").substring(0, 70) %>...
                        </div>
                    </a>
                </div>
            </a>
        </li>
        <% }); %>
    </ul>
</section>
<%- partial('_partial/paginator') %>