<!-- å¸–å­ç»„ä»¶ -->
<div id="article">
  <!-- å¤´éƒ¨ -->
  <% if(page.title == "friends"){ %>
    <div>
      <%- partial('_partial/friends') %>
     </div>
  <% }else if(page.title == "about"){ %>
    <div>
      <%- partial('_partial/about') %>
     </div>
    <% }else{%>
      <div class="post-header">
        <div class="post-title">
          <span><%- page.title %></span>
        </div>
      </div>
      <!-- TODOï¼šæŠ½æˆç»„ä»¶æå–å‡º -->
      <div class="post-label">
        <div class="post-date labelitem">
          <span class="iconfont icon-riqi"></span>
          <%- "å‘å¸ƒæ—¶é—´: "+date(page.date, "YYYY-MM-DD") %>
        </div>
        <div class="post-fontnum labelitem">
         <span class="iconfont icon-dictionary"
        ></span><%- "å­—æ•°: 365å­—" %></div>
        <div class="post-readtime labelitem">
            <span class="iconfont icon-shijian"></span>
          <%- "é˜…è¯»: 1åˆ†é’Ÿ" %></div>
      </div>
      <%- page.content %>
      <div id="post-end">
          <div class="title">æ„Ÿè°¢æ‚¨çš„é˜…è¯»ðŸŒ¸ END!!</div>
      </div>
      <h3>è¯„è®ºåŒº</h3>
      <div id="vcomments"></div>
      <% } %>
     <!-- TODOï¼šæ˜¯å¦è¦å¢žåŠ 404é¡µé¢ -->

</div>


